/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times', serif;
    
} */

html, body{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
    position:  relative;
}

.center{
    width: 100%;
    height: 87%;
    display: flex;
    padding: 4vw;
}

.center .centerPart1{
    /* background-color: lightblue; */
    width: 45%;
    height: 100%;
}
.center .centerPart2{
    /* background-color: rgb(173, 230, 205); */
    width: 55%;
    height: 100%;
}

.centerPart1 h1{
    font-size: 5vw;
    line-height: 1.1;
}
.centerPart1 p{
    font-size: 2.2vw;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centerPart1 button{
    font-size: 2vw;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 1.5vw 2.5vw ;
    font-weight: 600;
    border: none;
    bottom: 0px;
}

.centerPart2 img{
 
    height: 100%;
    width: 100%;
    margin-top: 5vh;

}

section .section2top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 4vw;
    
}

.section2top img{
    padding: 10px 20px;
    height: 6vw;
    width: 100vw;
    background-color: rgb(31, 29, 29);
}

section .services{
    display: flex;
/* background-color: blue; */
padding: 3vw 4vw;
align-items: center;
justify-content: flex-start;
gap: 30px;
}
.services h3{
    background-color: #6c63ff;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 3vw;
    font-weight: 400;
}

.services p{
    width: 50%;
    font-weight: 100;
    font-size: 1.4vw;
}

section .container{
    height: 100%;
    width: 100%;
    padding: 3vw 4vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.container .elem{
    flex-shrink: 0;
    height: 20vw;
    width: 45%;
    border: 2px solid black;
    border-radius: 20px;
    /* background-color: red; */
    box-shadow: 0px 10px 1px black;
    padding: 20px;
    display: flex;
}

.elem .elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part1 h2{
    width: 90%;
    font-size: 2vw;
    background-color: #6c63ff;
    padding: 0px 10px;
    border-radius: 5px;
    /* width: fit-content; */
}

.elem-part1 h4{
    /* width: 70%; */
    color: white;
    font-size: 2vw;
    background-color: #151516;
    padding: 0px 10px;
    border-radius: 5px;
    width: fit-content;
}
.container .black{
    background: #000;
    /* box-shadow: 0px 10px 1px rgb(255, 224, 224); */
    color: white;
    
}
.black h4{
    background:white;
    color: black;    
}
.elem .elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    height: 100%;
} 




@media (max-width: 768px) {
  
     .center{
    flex-direction: column;
  }
  .center .centerPart1{
    /* background-color: lightblue; */
    width: 100%;
   display: flex;
   flex-direction: column;
}
.center .centerPart2{
    /* background-color: rgb(173, 230, 205); */
    width: 100%;
    
}

.centerPart1 h1{
    font-size: 9vw;
}
.centerPart1 p{
    font-size: 4vw;
    text-align: justify;

    width: 100%;
    
}

.centerPart1 button{
    font-size: 4vw;
    padding: 2vw;
    
}

section .section2top{
   margin-top: 7vw;
    
}
.section2top img{
    padding: 2vw 4vw;
    height: 10vw;
   
}

section .services{
    margin-top: 10vw;
    flex-direction: column;
gap: 7vw;
}

.services h3{
    padding: 2vw 7vw;
    border-radius: 10px;
    font-size: 6vw;
    font-weight: 600;
}

.services p{
    width: 80%;
    font-weight: 300;
    font-size: 4vw;
    text-align: justify;
    line-height: 1.2;
}

section .container{
    margin-top: 10vw;
    flex-direction: column;
    align-items:center;
    gap: 6vw;
   
}

.container .elem{
    /* margin-left: 5vw; */
    
    height: 40vw;
    width:90vw;
    padding: 6vw;
}

.elem-part1 h2{
    font-size: 4vw;
    padding: 1vw 3vw;
    border-radius: 6px;
}

.elem-part1 h4{
    font-size: 3vw;
    padding: 1vw 2vw;
    border-radius: 6px;
}

}
